# === GIT IGNORE FOR API ===
api/node_modules/
api/public/images/avatar/
# api/.env
api/api.zip


# === GIT IGNORE FOR HOME ===
client/.DS_Store
client/node_modules
client/dist
client/dist.zip


# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?