.carousel .carousel-item {
    height: 595px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  .carousel-item .carousel-caption {
      text-align: end;
      padding-right: 20px;
      margin-bottom: 20px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      h4{
          font-weight: bolder;
      }
  }
.show-article{
background-image: #fff;
position: relative;
overflow: hidden;
#wave-up{
    position: absolute;
    top: -120px;
    left: 0;
    z-index: -1;
}
.show-article-header{
    font-family: 'Permanent Marker', cursive;
}
.container{
    margin-bottom:250px;
}
.card{
    transition: all .4s ease-out;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}
h1{
    color: #333;
}
h3{
    color: #333;
}

.editor-container .p-invalid{
    border: 1px solid red;
    border-radius: 4px;
}

.show-article-header{
    margin: 120px 0;
}

#show-article-bottom-wave{
    position:absolute;
    bottom: -20px;
    left:0;
    right: 0;
}
}