/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    overflow-x: hidden
}

* {
    margin: 0;
    padding: 0;
}
.container{
    font-family: "Poppins", sans-serif;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 #eee;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #eee;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid #eee;
  }

Button{
    text-decoration: none !important;
}

// BAHAN
.break {
    clear: both;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-navbar {
    background-image: linear-gradient(to right, #1C96BF, #2038B5) !important;
}

.navbar-expand-lg{
    background-image: linear-gradient(to right, #ddd, #eee)
}

.bg-retro {
    // alizarin
    background: #fff !important;
    color: #323B46 !important;
    border: 0;
}

.bg-az {
    // alizarin
    background: #EC615B !important;
    color: white !important;
}

.bg-wa {
    // wet asphalt
    background: #323B46 !important;
    color: white !important;
}

.bg-outline-blue {
    background: #E7F1FF;
    color: #0C63E6 !important;
}

.bg-blue {
    background: #0C63E6 !important;
}

.bg-outline-green {
    background: #deffe8;
    color: #2ecc71 !important;
}

.bg-outline-red {
    background: #ffd8d4;
    color: #e74c3c !important;
}

.bg-outline-yellow {
    background: #fff6e6;
    color: #f1c40f !important;
}

.outline-wa {
    border: 1px solid #323B46 !important;
    color: #323B46;
}

.text-az {
    color: #EC615B;
}

.text-wa {
    color: #323B46;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 #ccc inset, 0 0 0 #ccc;
    outline: 0 none;
}