.homepage{
    background-image: linear-gradient(to right, #1C96BF, #2038B5);
    height: 100vh;
    position: relative;
    overflow: hidden;
    h1{
        margin: 50px 0 0;
        color: #fff;
    }
    h3{
        color: #fff;
    }
    .homepage-header{
        margin: 50px 0 0;
    }

    #homepage-bottom-wave, #homepage-bottom-2{
        position:absolute;
        bottom: -10px;
        left:0;
        right: 0;
    }
    #homepage-up-wave{
        position:absolute;
        top: 0;
        left:0;
        right: 0;
    }
    #homepage-bottom-1{
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
    }
    #homepage-bottom-3{
        position:absolute;
        bottom: 0;
        right: 0;
    }
}
.teampage{
    background-image: #a4d;
    position: relative;
    overflow: hidden;
    padding:250px 0;
    font-family: 'Permanent Marker', cursive;
    Button{
        font-family: 'Permanent Marker', cursive;
    }
    h1{
        color: #333;
    }
    h3{
        color: #333;
    }
    .teampage-header{
        font-family: 'Permanent Marker', cursive;
        h1{
            font-size: 4rem;
        }
        h3{
            font-size: 2rem;
        }
    }

    #teampage-arrow-up-left{
        position:absolute;
        top: 10%;
        right: 0;
        width: 10rem;
    }
    #teampage-arrow-bottom-right{
        position:absolute;
        bottom: 20%;
        left: 0;
        width: 10rem;
    }
    #teampage-laptop-left{
        position:absolute;
        top: 0;
        left:5%;
        .container-fluid{
            position: relative;
            img{
                width: 20rem;
            }
            h5{
                z-index: 2;
                position: absolute;
                color: #fff;
                top: 35%;
                left: 55%;
                transform: translate(-50%, -50%)
            }
        }
    }
    #teampage-laptop-right{
        position:absolute;
        bottom: 0;
        right:5%;
        .container-fluid{
            position: relative;
            img{
                width: 18rem;
            }
            h6{
                z-index: 2;
                position: absolute;
                color: #fff;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
    }
    #teampage-person{
        position:absolute;
        bottom: 0;
        left:5%;
        width: 20rem;
    }
}
.aboutpage{
    background-image: #fff;
    position: relative;
    overflow: hidden;
    .container{
        margin-bottom:250px;
    }
    .card{
        transition: all .4s ease-out;
        &:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }
    h1{
        color: #333;
    }
    h3{
        color: #333;
    }
    .aboutpage-header{
        margin: 120px 0;
    }

    #aboutpage-bottom-wave{
        position:absolute;
        bottom: -20px;
        left:0;
        right: 0;
    }
}

.contact{
    background-image: linear-gradient(to right, #1C96BF, #2038B5);
    height: 100vh;
    position: relative;
    overflow: hidden;
    h1{
        margin: 50px 0 0;
        color: #fff;
    }
    h3{
        color: #fff;
    }
    .contact-header{
        margin: 50px 0 0;
    }

    #contact-bottom-wave, #contact-bottom-2{
        position:absolute;
        bottom: -10px;
        left:0;
        right: 0;
    }
    #contact-up-wave{
        position:absolute;
        top: 0;
        left:0;
        right: 0;
    }
    #contact-bottom-1{
        display: none;
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
    }
    #contact-bottom-3{
        display: none;
        position:absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 768px) {
    .homepage{
        #homepage-1{
            width: 30rem;
        }
    }
    .teampage{
        #teampage-arrow-up-left{
            left: 35%;
        }
        #teampage-arrow-bottom-right{
            left: 55%;
        }
    }
    .contact{
        #contact-bottom-1,#contact-bottom-3{
            display: block;
        }
    }
}